.result {
    padding: 100px 0 31px 0;
    text-align: center;
}
.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.result-image {
    position: absolute;
    top: 65px;
    z-index: -1;
}
.result-tittle {
    max-width: 588px;
    margin-bottom: 60px;
}
.result-score {
    background-image: url("../images/result-image.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 158px;
    line-height: 190px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.right-answers {
    display: flex;
    align-self: flex-end;
}

.right-answers a {
    text-decoration: none;
    font-size: 17px;
    line-height: 1;
    color: #6933DC;
}

.right-answers a img {
    margin-left: 13px;
    vertical-align: middle;
}